{% load questions_tags %}

{% if is_paginated %}
  <nav>
    <ul class="pagination pagination-sm justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">
            <span>&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">
            <span>&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="page-item active"{% endif %}>
          <a class="page-link" href="?{% url_replace request 'page' page %}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">
            <span>&raquo;</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
          <a class="page-link" href="#">
            <span>&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
