{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Задать впорос{% endblock %}

{% block content %}
  <h1>Задать впорос</h1>
  <form class="form-horizontal" method="post" action="{% url 'qa:question-add' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-dark btn-large">Задать</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block bottom_js %}
  {{ form.media }}
{% endblock %}
