{% extends "base.html" %}

{% load questions_tags crispy_forms_tags %}

{% block content %}
  <div class="content">
    <h2 class="question__title-h">{{ object.title }}</h2>
    <div class="row question-wrap">
      <div class="col-1 text-center question__rating">
        {% rating object request.user %}
      </div>
      <div class="col-10 offset-1">
        <div class="question__text">{{ object.text }}</div>
        <div class="row">
          <div class="col-7">
            {% for tag in object.tags.all %}
              <a class="question__tag" href="{% url 'qa:search' %}?search=tag:{{ tag.name }}">
                <span>{{ tag.name }}</span>
              </a>
            {% endfor %}
          </div>
          <div class="col-5 text-right question__date">
            {{ question.created_on|time_ago }} от {{ question.author.username }}
          </div>
        </div>
      </div>
    </div>

    <div class="container answer">
      {% if question.answer_count %}
        <div class="answer__count">Ответов: {{ question.answer_count }}</div>
        {% for answer in answers %}
          <div class="row answer-wrap">
            <div class="col-1 text-center answer">
              {% rating answer request.user %}
            </div>
            <div class="col-1">
              <div class="question__true">
                {% if is_author %}
                  <form method="POST" action="{% url 'qa:correct-answer' question.pk answer.pk %}">
                    {% csrf_token %}
                    {% if answer.is_correct %}
                      <button type="submit" title="Правильный ответ"
                              class="correct-icon answer-button"></button>
                    {% else %}
                      <button type="submit" title="Отметить как правильный ответ"
                              class="not-correct-icon answer-button"></button>
                    {% endif %}
                  </form>
                {% elif answer.is_correct %}
                  <span title="Правильный ответ" class="correct-icon"></span>
                {% endif %}
              </div>
            </div>
            <div class="col-10">
              <div class="answer__text">{{ answer.text }}</div>
              <div class="text-right answer__date">
                {{ answer.created_on|time_ago }} от {{ answer.author.username }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        Пока что нет ответов
      {% endif %}

      {% if answers.paginator.num_pages > 1 %}
        <nav>
          <ul class="pagination pagination-sm justify-content-center">
            {% for page in answers.paginator.page_range %}
              <li {% if page == answers.number %}class="page-item active"{% endif %}>
                <a class="page-link" href="?{% url_replace request 'page' page %}">{{ page }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}


    </div>
    {% if request.user.is_authenticated %}
      <div style="margin: 1rem 0;">
        <form action="{% url 'qa:answer-add' question.pk %}" method="post">
          {% csrf_token %}
          {{ answer_form|crispy }}
          <button type="submit" class="btn btn-dark btn-large">Ответить</button>
        </form>
      </div>
    {% else %}
      <div class="container">Авторизуйтесь (зарегистрируйтесь) для возможности добавить ответ.</div>
    {% endif %}
  </div>

{% endblock %}

{% block bottom_js %}
  <script>
    (function ($) {
      var $voteAction = $('.vote-action');
      var $votelink = $voteAction.find("a");
      $votelink.click(function (event) {
        event.preventDefault();
        var $thisLink = $(this);
        var $thisURL = $thisLink.attr('data-url');
        $.ajax({
          method: 'POST',
          beforeSend: function (request) {
            request.setRequestHeader("X-CSRFToken", jQuery("[name=csrfmiddlewaretoken]").val());
          },
          url: $thisURL,
          success: function (data) {
            handle_vote_action_success(data, $thisLink);
          },
          error: handle_vote_action_error
        })
      });

      function handle_vote_action_success(data, object) {
        var result = JSON.parse(data);
        var parent = object.parent('.vote-action');

        // set rating
        parent.find('span.ration-value').html(result.votes_all);
        // set icon
        switch (result.vote) {
          case -1:
            parent.find('.arrow-down').addClass('selected');
            parent.find('.arrow-up').removeClass('selected');
            break;
          case 0:
            parent.find('.arrow-down').removeClass('selected');
            parent.find('.arrow-up').removeClass('selected');
            break;

          case 1:
            parent.find('.arrow-down').removeClass('selected');
            parent.find('.arrow-up').addClass('selected');
            break;
        }
      }

      function handle_vote_action_error(jqXHR) {
        if (jqXHR.status === 403) {
          alert('Для того чтобы отправить голос необходимо авторизоваться')
        }
        else {
          alert('Произошла ошибка!!!')
        }
      }
    })($);
  </script>
{% endblock %}
