{% load questions_tags %}

<div class="row question">
  <div class="col">
    <div class="question__stats">
      <div class="row question-row">
        <div class="col text-center">
          <p class="question__stats-digit">{{ question.rating_sum }}</p>
          <p class="question__stats-text">Рейтинг</p>
        </div>
        <div class="col text-center">
          <p class="question__stats-digit">{{ question.answer_set__count }}</p>
          <p class="question__stats-text">Ответов</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="question__title">
      <a href="{% url 'qa:question-detail' question.slug %}">{{ question.title }}</a>
      {% if question.correct_answer %}(Решено){% endif %}
    </div>
    <div class="row">
      <div class="col-7">
        {% for tag in question.tags.all %}
          <a class="question__tag" href="{% url 'qa:search' %}?search=tag:{{ tag.name }}">
            <span >{{ tag.name }}</span>
          </a>
        {% endfor %}
      </div>
      <div class="col-5 question__date">
        {{ question.created_on|time_ago }} от {{ question.author.username }}
      </div>

    </div>
  </div>
</div>
