.answer {

  &__count {
    margin: 1rem 0;
    color: #4e555b;
    font-size: 1.2rem;
  }

  &__true {
    position: absolute;
    top: 30%;
  }

  &-button {
    cursor: pointer;
    margin-top: 2.5rem;
    outline: 0 !important;
    border: 0 !important;
  }

  &-wrap {
    margin: .5rem 1rem;
    border-bottom: 1px solid #c6c8ca;
    padding-bottom: 1rem;
    padding-left: 5px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__date {
    font-size: .8rem;
    font-style: italic;
    color: #4e555b;
  }

}
