.filter-panel {
  margin: 1rem 0 1.3rem 0;
  background-color: #e6e4e6;
  color: #040505;
  padding: .5rem;
  text-align: center;
  border: 1px solid #c8cbcf;
  border-radius: 7px;
  font-size: 1.1rem;

  a{
    color: #1b1e21;
  }

  .bold {
    font-weight: 700;
  }
}
