.question {
  margin-bottom: 1rem;
  border-bottom: 1px solid #c6c8ca;
  padding-bottom: .7rem;

  &-row {
    margin: 0 !important;
     .col {
      padding: 0 5px;
    }
  }

  &__title {
    color:#006ec3;
    line-height: 1.4;
    margin-bottom: .8em;

    &-h{
      padding-bottom:5px;
      margin:0 1rem;
      border-bottom: 1px solid #c6c8ca;
    }
  }

  &__rating {
    padding-left: 5px;
  }

  &__text{
    margin-bottom: 20px;
  }

  &-wrap{
    margin: .5rem 0;
    border-bottom: 1px solid #c6c8ca;
    padding-bottom: 1rem;
  }

  &__tag {
    display: inline-block;
    background-color: #c1241d;
    color: #e9ecf0;
    border: 1px solid #3f0f08;
    border-radius: 4px;
    font-size: .8rem;
    padding: 2px 4px;
    margin-right: 3px;

    &:hover{
      color: #a5a5a5;
      text-decoration: none!important;
    }
  }

  &__date {
    font-size: .8rem;
    font-style: italic;
    color: #4e555b;
  }

  &__stats {
    margin-bottom: .5rem;
    border-right: 1px solid #c2c0c2;

    &-digit {
      margin: 0;
      color: #1b1e21;
      font-size: 2rem;
    }

    &-text{
      margin: 0;
      font-size: .7rem;
      padding: 0;
    }

  }
}

.trending {
  margin: 1rem 0;

  &-list {
    list-style: none;
    text-align: left;
    padding-left: .5rem;

    &__obj {
      margin-bottom: 10px;

      span {
        display: inline-block;
        background-color: #365ac1;
        color: #f8fbff;
        border: 1px solid #03071a;
        font-size: .8rem;
        padding: 4px;
        margin-right: 7px
      }
    }
  }
}
