
@import "custom_bootstrap_vars";
@import "bootstrap";

@import "icons";
@import "filter-panel";
@import "question";
@import "answer";




// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.nav-link{
  white-space: nowrap;
}

.navbar-brand {
  font-size: 3rem;
}

textarea:focus, input:focus{
    outline: none!important;
}

.selected {
  background-color: #fdf7b8;
}

.user-nav {
  display: inline-block;
  margin-right: 10px;

  img{
    border-radius: 20%;
    width: 40px;
    height: auto;
  }
}

.user-logout {
  margin-top: 12px;
}

.right-block {
  margin: 1rem 0 1.3rem 0;

  .add-question {
    margin-bottom: 1rem;

    &__link{
      font-size: 1.2rem;
    }

  }
}

.search {
  margin: 1.5rem 0;
}

.ration-value{
  font-size: 1.7rem;
  color: #4e555b;
  display: block;
}

.content {
  margin: 20px 0;
}
