<p class="vote-action">
  <a class="vote-up" data-url="{% url 'qa:rating' app_label model instance_pk 1 %}">
    <span class="arrow arrow-up {% if user_choice == 1 %}selected{% endif %}"></span>
  </a>
  <span class="ration-value">{{ rating }}</span>
  <a class="vote-down" data-url="{% url 'qa:rating' app_label model instance_pk -1 %}">
    <span class="arrow arrow-down {% if user_choice == -1 %}selected{% endif %}"></span>
  </a>
</p>
