{% if object_list %}
  <div class="trending">
    <h4>Топ вопросов</h4>
    <ul class="trending-list">
      {% for question in object_list %}
        <li class="trending-list__obj">
          <span>{{ question.rating_sum }}</span>
          <a href="{{ question.get_absolute_url }}">{{ question.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
