{% extends "base.html" %}

{% load static questions_tags %}

{% block content %}

  <div class="filter-panel">
    <div class="row">
      <div class="col-6">
        <a href="?sort_by=new"
           {% if request.GET.sort_by != 'popular' %}class="bold"{% endif %}>
          Новые вопросы
        </a>
      </div>
      <div class="col-6" style="font-size: 1.1rem">
        <a href="?sort_by=popular"
           {% if request.GET.sort_by == 'popular' %}class="bold"{% endif %}>
          Популярные вопросы
        </a>
      </div>
    </div>
  </div>

  {% for question in object_list %}
    {% include "include/question.html" with question=question %}
  {% empty %}
    <p>Вопросов пока еще нет.</p>
  {% endfor %}

  {% include 'qa/paginator.html' %}
{% endblock content %}
