{% extends "base.html" %}

{% load static questions_tags %}

{% block content %}
  <div class="search">
    <h1>Результаты поиска</h1>
    {% for question in object_list %}
      {% include "include/question.html" with question=question %}
    {% empty %}
      <p>По вашему запросу ничего не найдено.</p>
    {% endfor %}
  </div>

  {% include 'qa/paginator.html' %}
{% endblock content %}
