{% load static questions_tags cache %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Hasker otus{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
  {% endblock %}

</head>

<body>
  <div class="m-b-1">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="ml-3 navbar-brand mr-5 display-1" href="{% url 'home' %}">Хаскер</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="{% url 'qa:search' %}" method="GET" class="input-group my-2 mr-5 ml-5 my-lg-0">
          <input class="form-control" value="{{ request.GET.search }}" maxlength="70"
                 name="search" placeholder="Найти вопрос..." autocomplete="off"
                 autofocus="autofocus" type="text">
          <div class="input-group-btn">
            <button class="btn btn-outline-secondary" type="submit">Найти</button>
          </div>
        </form>
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link user-nav" href="{% url 'users:update' %}">
                {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" width="40">
                {% endif %}
                {{ request.user.username }}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link user-logout" href="{% url 'account_logout' %}">Выйти</a>
            </li>
          {% else %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Войти</a>
            </li>
          {% endif %}
        </ul>
      </div>

    </nav>

  </div>
  <div class="container">
  <div class="row">
    <div class="col-9">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}
          <p>Контент</p>
        {% endblock content %}

      </div> <!-- /container -->
    </div>
    <div class="col-3 text-center">
      <div class="container right-block">
        <div class="add-question">
          <a href="{% url 'qa:question-add' %}"
             class="btn btn-warning btn-block btn-large add-question__link">
            Задать вопрос
          </a>
        </div>
        {% cache 500 trending %}
          {% trending_questions %}
        {% endcache %}
      </div>
    </div>
  </div>
  </div>
  {% block modal %}{% endblock modal %}
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% block javascript %}
    <!-- Vendor dependencies bundled as one file-->
    <script src="{% static 'js/vendors.js' %}"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.js' %}"></script>
  {% endblock javascript %}

  {% block bottom_js %}{% endblock %}

</body>
</html>
