<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h3>Здравствуйте,  {{ user.username }}!</h3>

<p>У Вас новый ответ на вопрос: <a href="{{ url }}">Смотреть на сайте </a></p>

---
<p><strong>С уважением , Hasker!</strong></p>

</body>
</html>
